.idea
*.log
**/.DS_Store
node_modules
.env
.sentryclirc
bin/run
__starter-projects
.serverless
yarn-error.log
.stacktape
.outputs
__stacktape-dist
__publish-folder
__source-maps
__binary-source-maps
__publish-examples-dir
__RELEASE-NOTES-TEMPLATE__.md
stack-info.yml
.stack-info/
.stacktape-stack-info/
__binary-dist
__dev-bin
__sdk-dist
__cli-dist/**/*
__release
__release-npm
__publish-gh-repo-dir
__publish-starters-repo-dir
__platform-packages
stacktape-project
compiled-template.yaml
scripts/simon
docs/node_modules
docs/.next
docs/public/_timestamps.json
docs/out
__dist

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
