{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier"
  ],
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "import/no-cycle": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/export": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/member-ordering": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-empty-function": [
      2,
      {
        "allow": [
          "arrowFunctions"
        ]
      }
    ],
    "curly": [
      "warn",
      "all"
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error",
          "info",
          "dir",
          "time",
          "clear"
        ]
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "no-plusplus": 0,
    "no-continue": 0,
    "no-await-in-loop": 0,
    "no-useless-constructor": 0,
    "arrow-body-style": 0,
    "guard-for-in": 0,
    "default-case": 0,
    "class-methods-use-this": 0,
    "strict": 0,
    "max-classes-per-file": 0,
    "no-debugger": 0
  }
}
